.header{
    text-align: left; 
    color: white; 
}

.background{
    background-image: url("background.jpg"); 
    background-color: white; 
    background-repeat: no-repeat; 

}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.contact_info{
    color: white; 
}
.photo_link{
    width: 80px; 
    height: 80px; 
    border: 0; 
}

h3{
    color:white; 
}
.column {
    float: left;
    width: 20%;
    position: relative;
  }
.column2 {
    float: right;
    width: 40%; 
    position: relative; 
}

.container{
    margin: 8px;
    margin-top: 10px;
    min-height: 70%;
    background: rgb(98, 125, 245)
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2{
    color: white;
    text-align: center; 
}

#rcorners1 {
    border-radius: 25px;
    padding: 5px;  
  }

p{
    background-color: white; 
    color: black; 
}
ul{
    background-color: white; 
}